.iconTipo{
    color: #007F90;
    

width: 1em;
height: 1em;
position: relative;
display: block;
padding: 30px;
text-align: center;
}

.iconosAlineados{
display: flex; 
flex-wrap: wrap;
align-items: center;
}
.container{
padding-top: 2%;
padding-left: 0%;
padding-right: 0%;
align-items: center;
}
.alinear{
text-align: center;
}